
#commisao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55%;
}
.ComissaoOrganizadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 767px) {
    .ComissaoOrganizadora{
        width: 95%;
        height: 230px;
        display: flex;
    }
    .MembrosComissaoFuncao{
        font-size: x-large;
    }
    .volutarios{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 97%; 
    } 
    .ComissaoOrganizadoraVolutarios{
        width: 130px;
        height: 200px;
        display: flex;
        margin-top: 4%;
    }
    .MembroComissaoTextVolutario{
        visibility: hidden;

    }
   
}
@media screen and (min-width: 767px) {
    .ComissaoOrganizadora{
        width: 90%;
        height: 270px;
        display: flex;
        margin-top: 3%;
    }
    .MembrosComissaoFuncao{
        font-size: x-large;
        text-align: center;
    }
    .ComissaoOrganizadoraVolutarios{
        width: 200px;
        height: 250px;
        display: flex;
        margin: 4%;
    }
    .volutarios{
        width: 95%;
        display: flex;
        margin-top: 5%;
        border-radius: 50px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(249, 245, 239);
    }
}