.MembroComissaoPrincipal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MembroComissaoAuxiliado {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .MembroComissaoSecundario {
        position: relative;
    }

    .MebroComissaoTextDiv {
        width: 75%;
        height: 100%;
    }

    .imgemMembroComissao {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .imgemMembroComissaoDiv{
        height:100%;
    }
    .MembroComissaoText {
        font-size: medium;
    }

    .MembroComissaoTitle {
        font-size: x-large;
    }

    .MembroComissaoSecundario {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        position: relative;
    }

    .imgemMembroComissaoDivSecundario {
        width: 50%;
        border-radius: 50px;
        transition: transform 0.3s ease;
    }

    .imgemMembroVolutario {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 60px;
    }

    .MembroComissaoTitleVolutario {
        font-size: medium;
        margin-bottom: 1%;
    }


    .MembroComissaoTextVolutario {
        font-size: small;
    }
}

@media screen and (max-width: 767px) {
    .imgemMembroComissaoDiv {
        width: 35%;
        height: 80%;
    }

    .MebroComissaoTextDiv {
        width: 75%;
        height: 100%;
    }

    .imgemMembroComissao {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .MembroComissaoText {
        font-size: small;
    }

    .MembroComissaoTitle {
        font-size: medium;
    }
    /*algum dia eu separa isso assinado lucas "algum dia! nao hj"*/
    .MembroComissaoSecundario {
        position: relative;
    }
    .MembroComissaoSecundario {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        position: relative;
    }
    .imgemMembroComissaoDivSecundario {
        width: 50%;
        border-radius: 50px;
        transition: transform 0.3s ease;
    }
    .imgemMembroVolutario {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 60px;
    }

    .MembroComissaoTitleVolutario {
        font-size: medium;
        margin-bottom: 1%;
    }


    .MembroComissaoTextVolutario {
        font-size: small;
    }
}
